.form-container {
    
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    font-size: 18px;
    color: #007bff;
  }
  
  .confirmation,
  .completed-travel {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  }
  
  .confirmation p,
  .completed-travel p {
    margin: 8px 0;
  }
  
  .confirmation button,
  .completed-travel button {
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .confirmation button:hover,
  .completed-travel button:hover {
    background-color: #0056b3;
  }
  