/* style table, row and cells in order to have a modern readable grid */

table {
  font-size: 14px !important;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px !important;
}

/* cambia font size in base alla dimensione dello schermo */
@media screen and (max-width: 600px) {
  table {
    font-size: 10px !important;
  }
}



th, td {
  text-align: left;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}




